

@media (max-width: 1120px) {
    
    .header__inner {
        display: none;
    }
    .firstpage__header--desk {
        display: inline-block;
        
    }
    .firstpage__header--h1 {
        margin-left: 20px;
    }

    .firstpage__header {
        display: block;
    }
    
    .firstpage__header--btn {
        position: absolute;
        right: 25px;
        top: 24px;
    }

    .header__settings::before {
       padding-top: 9px;
    }
    .header__search::before {
        padding-top: 9px;
    }
    .firstpage__btn {
        border: none;
        background: none;
        
    }
    .firstpage__menu {
        display: flex;
        overflow-x: hidden;
        flex-wrap: wrap;
    }
   

    .firstpage__btn-text {
        font-weight: 500;
        margin-right: 8px;
        align-items: start;
    }

    .firstpage__inner {
        display: flex
;
        margin: 24px 16px;
    }

    .firstpage__text {
        width: 490px;
    }
    .firstpage__img {
        width: 531px;
        height: 307px;
    }
     

    .furstpage__text-full {
        display: none;
    }
    .furstpage__text-mobile {
        display: none;
    }
    .firstpage__text--desc {
        display: block;
    }
    .firstpage__text-tablet {
        display: none;
    }
    
}

@media (max-width: 768px) {
    .header {
       width: 100%;
    }
    .header__inner {
        display: flex;
        padding: 0;
        gap: 0;
    }
    
    .header__inner-none {
        display: block;
    }
   

    .header-star {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        padding: 16px;
        
    }
    .header__end {

        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        margin-left: auto;
    }

    .header__end-set{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        padding: 16px;
    }

    .firstpage {
        width: 100%;
    }
    .firstpage__text{
        width: 312px;
    }
    .firstpage__menu {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
    .firstpage__header--desk {
        display:none;
    }
    .firstpage__inner {
        display: flex;
        justify-content: space-around;
        margin: 24px 16px;
        align-items: center;
    }
    .firstpage__text {
        margin: 0;
    }
    .firstpage__text-tablet {
        display: block;
    }
    .furstpage__text-mobile {
        display: none;
    }
    .firstpage__img {
        width: 360px;
        height: 208px;
        margin: 0;  
    }
    .firstpage__text--desc {
        display: none;
    }

    .firstpage__header--btn {
        display: none;
    }

    .firstpage__menu--revies {
        display: none;
    }
   /*  .firstpage__text {
        display: inline-block;
        width: 312px;
    }
   .firstpage__img {
    float: right;
   } */
} 

@media (max-width: 320px) {
    .header__inner {
        display: flex;
    }

    .header__inner-none {
        display: none;
    }
    .header__logo-image {
        margin-right: 0;
    }
    .header-star {
        padding-right: 5px;
    }
    .header__end {
        display: none;
    }
   .header__end-set {
    justify-content: space-between;
    padding-left: 0;
   }

    .firstpage {
        width: 320px;
    }

    .firstpage__inner {
        display: block;
        margin: 0 auto;
        width: 320px;
    }
    .firstpage__text {
        margin: 24px 16px;
    }
    .firstpage__text-tablet {
        display: none;
    }
    .furstpage__text-mobile {
        display: inline;

    }
    /* .firstpage__img {
        width: 100%; 
    } */
    .firstpage__header--btn {
        display: none;
    }
    .firstpage__text--desc {
        display: none;
    }
    .firstpage__menu--revies {
        display: none;
    }
  
}

    