* {
    margin: 0;
    font-family: 'TT Lakes';
}

body {
    background: #f8f8f8;
}
.header {
    width: 100%;
}

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 16px;
        background: fff;
    }

        .header__inner--round {
            border-radius: 20px;
            width: 40px;
            height: 40px;
            background: #ff3e79;
            border: none;
            cursor: pointer;
        }
        .header__menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 5px;
            align-items: center;
        }

        .header__menu--mobile-tablet {
            display: none;
            display: flex;
            gap: 16px;
            align-items: center;
        }

        .header__menu--line::before {
            content: "";
            display: flex;
            row-gap: 20px;

            border-radius: 1px;
            width: 18px;
            height: 2px;
            background: #fff;
        }

        .header__menu--mini::before {
            content: "";
            display: flex;
            margin-right: 8px;

            border-radius: 1px;
            width: 10px;
            height: 2px;
            background: #fff;
        }

        .header__menu--medium::before {
            content: "";
            display: flex;
            margin-right: 5px;

            border-radius: 1px;
            width: 14px;
            height: 2px;
            background: #fff;
        }

        .header__logo {
            display: block;
            transition: none;
        }

        .header__logo-image {
            width: 96px;
            height: 50px;
        }

        .header__separator::before {
            content: "";
            display: block;
            border-radius: 1px;
            width: 2px;
            height: 32px;
            background: #eaeaea;
        }

        .header__settings::before {
            content:url(../icons/settings.svg);
            display: block;
            margin: 0 auto;
            padding-top: 4px;
        }
        .header__phone::before {
            content:url(../icons/phone.svg);
            display: block;
            margin: 0 auto;
            padding-top: 4px;
        }
        .header__chat::before {
            content:url(../icons/chat.svg);
            display: block;
            margin: 0 auto;
            padding-top: 4px;
        }
        .header__accaunt::before {
            content:url(../icons/accaunt.svg);
            display: block;
            margin: 0 auto;
            padding-top: 4px;
        }

        .header__search::before {
            content:url(../icons/search.svg);
            display: block;
            margin: 0 auto;
            padding-top: 4px;
        }
    .header__underline {
        width: 100%;
        height: 1px;
        background: #d9fff5;
    }




.firstpage {
    position: relative;
    width: 100%;
    height: 509px;
    
    padding-top: 24px;
}



.firstpage__line::before {
    content:"";
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-radius: 0 20px 20px 0;
    
} 
.firstpage__header {
    font-weight: 700;
    font-size: 28px;
    color: #1b1c21;
    display: block;
    height: 40px;
    margin-bottom: 24px;
    margin-left: 12px;
}


.firstpage__menu {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 16px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #7e7e82;
    padding: 0;
    list-style-type: none;
}

.firstpage__menu--brand {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 8px 16px;
    border: none;
    background: #f8f8f8;
    text-decoration: none;
    list-style: none;
    color: #000;
    text-decoration: none;
    appearance: none;
    opacity: 0.5;
}
.firstfage__menu--brand {
    border: 2px solid none;
    border-radius: 6px;
    background-color: #fff;
}
.firstpage__menu--brand:hover{
    border: 2px solid #b8ffec;
}

.firstpage__text {
    margin: 24px 16px;
}
.firstpage__text-visible {
    font-weight: 400;
    font-size: 14px;
    color: #1b1c21;
    }
   
   
   
    
    details {
        margin-top: 16px;
        
    }

    summary {
        list-style: none; /* Убираем стандартный маркер */
        outline: none;
        
      
    }

    summary::marker {
        display: none; /* Убираем стандартный треугольник */
        
    }

    details[open] .firstpage__open {
        display: none; /* Скрываем текст кнопки, когда раскрыто */
        transition: transform 0.4s;
    }

    .firstfage__details {
        padding-right: 8px;
        transition: transform 0.4s;
    }


    details[open] .firstfage__details{
        transform: rotate(180deg);
        transition: transform 0.4s ease;
    }
    
    .firstpage__open {
        font-weight: 500;
        font-size: 16px;
        color: #1b1c21;
    }

    .firstpage__text-full {
        font-weight: 400;
        font-size: 14px;
        color: #1b1c21;
        }
    .firstpage__img {
        width: 100%;
        height: auto;
    }
    


